NEXT_PUBLIC_APP_NAME=KinSvarmo
NEXT_PUBLIC_CHAIN_ID=
ZERO_G_RPC_URL=
ZERO_G_EXPLORER_URL=
ZERO_G_STORAGE_ENDPOINT=
KEEPERHUB_API_KEY=
KEEPERHUB_BASE_URL=
AXL_NODE_API_URL=
AXL_NODE_API_PEER_ID=
AXL_NODE_PLANNER_URL=
AXL_NODE_PLANNER_PEER_ID=
AXL_NODE_ANALYZER_URL=
AXL_NODE_ANALYZER_PEER_ID=
AXL_NODE_CRITIC_URL=
AXL_NODE_CRITIC_PEER_ID=
AXL_NODE_REPORTER_URL=
AXL_NODE_REPORTER_PEER_ID=
AXL_REQUEST_TIMEOUT_MS=5000
AXL_LOCAL_PORT_OFFSET=0
AXL_REAL_DIR=/tmp/axl
AXL_REAL_PORT_OFFSET=0
DATABASE_URL=
